body {
  font-family: 'Oswald', sans-serif;
  max-width: 1280px;
  margin: auto; }

header div {
  display: flex;
  background-color: #FFF3F3;
  justify-content: space-between;
  padding: 1em;
  align-items: center; }

nav {
  display: flex;
  height: 2em;
  align-items: center;
  font-size: 15pt; }
  nav ul {
    display: flex;
    list-style: none;
    color: white;
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0; }
    nav ul li {
      margin-right: 1em; }

footer {
  display: flex;
  color: white;
  background-color: black;
  height: 12em;
  flex-flow: column wrap;
  justify-content: space-between; }
  footer p {
    text-align: center; }
  footer img {
    align-self: flex-end;
    margin-right: 1em; }

#headernav {
  background-color: #8E1616; }

h1, p {
  margin: 0; }

#first {
  padding-top: 1.5em;
  padding-left: 1.5em;
  color: white;
  background-image: url("../img/traffic-332857_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 28em; }

#second {
  text-align: center;
  color: #383838;
  background-color: #CECECE;
  padding-bottom: 1em;
  padding-top: 3em; }

#calculation {
  position: relative;
  bottom: 35em;
  margin-left: 2em;
  margin-right: 2em;
  border: solid;
  border-color: #383838;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: -25em; }
  #calculation h1 {
    color: #383838;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0.5em;
    text-align: center; }
  #calculation form {
    display: flex;
    flex-wrap: wrap;
    padding-left: 3em;
    padding-right: 3em;
    justify-content: space-between; }
    #calculation form div {
      margin-left: 5%;
      margin-right: 5%; }
      #calculation form div input {
        width: 100%; }
      #calculation form div select {
        width: 100%; }

#calc {
  color: white;
  background-color: #339235;
  border-radius: 7pt;
  width: 25%;
  margin: auto;
  text-align: center;
  margin-top: 1em; }

#result {
  color: #339235;
  text-align: center;
  margin: 2em; }

#container {
  padding: 2em;
  margin-top: 3em;
  margin-bottom: 3em; }
  #container div {
    border-top: solid;
    border-width: 2px;
    box-shadow: 0px 0px 3px gray;
    padding: 1em; }
    #container div h3 {
      margin: 0;
      color: #2D4C7E; }
    #container div p {
      margin: 0; }
    #container div ul {
      margin-bottom: 2em;
      list-style-image: url("../img/checkmark-16.png"); }
      #container div ul li {
        margin-bottom: 8pt; }

.gray {
  color: gray; }

@media screen and (max-width: 479px) {
  #banner {
    display: none; }

  #calculation h1 {
    font-size: 12pt; }
  #calculation p {
    font-size: 10pt; }
  #calculation form div {
    width: 80%; }

  #calc {
    font-size: 12pt; }

  #container {
    margin-top: 0em;
    margin-bottom: 1em; }
    #container div {
      margin-top: 2em; }

  #result {
    margin: 1em; } }
@media screen and (min-width: 480px) {
  #container {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 3em; }
    #container div {
      width: 40%; }

  #calculation form div {
    width: 30%; }

  #result {
    margin: 2em; } }

/*# sourceMappingURL=style.css.map */
